*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.counter {
  width: fit-content;
  background-color: blueviolet;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

.film {
  display: flex;
  width: 600px;
  height: 430px;
}

.film img {
  width: 0px;
  flex-grow: 1;
  object-fit: cover;
  opacity: .8;
  transition: .5s ease;
}

.film img:hover{
  cursor: crosshair;
  width: 300px;
  opacity: 1;
  filter: contrast(120%);
}

.container {
  width: 98%;
  margin: auto;
}

@media screen and (min-width:768px) {
  .container {
    width: 70%;
  }
}

.detail {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.detail__image {
  width: 100%;
}

.content {
  width: 100%;
}

@media screen and (min-width:768px) {
  .detail__image {
    width: 50%;
  }
  .content {
    padding-left: 3rem;
    width: 50%;
  }
}