*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* itemCount */

.counter {
  width: fit-content;
  background-color: blueviolet;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

/* Item */

.film {
  display: grid;
  width: 300px;
}

.film img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* navBar */

.nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  color: whitesmoke;
  text-decoration: none;
}

.nav__link{
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav__link:hover{
  background-color: aquamarine;
}

.container {
  width: 98%;
  margin: auto;
}

/* ItemCart */

.itemCart{
  display: flex;
  border-bottom: 1px solid aquamarine;
  max-width: 500px;
  margin: 1rem auto;
}

  .itemCart img {
    width: 200px;
    margin-right: 1rem;
  }


@media screen and (min-width:768px) {
  .container {
    width: 70%;
  }
}

.detail {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 100%;
}

.detail__image {
  width: 100%;
}

.content {
  width: 100%;
}

@media screen and (min-width:768px) {
  .detail__image {
    width: 50%;
  }
  .content {
    padding-left: 3rem;
    width: 50%;
  }
}